@charset "UTF-8";

/*Paleta de cores
    preto:#0D0D0D
    marrom:#593527
    bege:#A6653F

    TYPICAL DIVE BREAKPOINTS
    Pequenas telas: ate 600px
    Celular: 600px ate 768px
    Tablet: 768px ate 992px
    Desktop:992px ate 1200px
    Grandes telas: acima de 1200px

*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;


}
body, html{
    background-color: #593527;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;/*tudo q tiver fora da borda vai ficar escondida*/

    background-color: rgba(255, 255, 255, 0.884);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
    

}
section#login >div#imagem{
    display: block;
    background: #A6653F url(../imagens/montanha.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}
section#login > div#formulario{
    display: block;
    padding: 7px;
    
    
    
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;    
}
div#formulario > p{
    font-size: 0.8em;
}
div.campo > label{
    display: none;


}
div.campo >span{
    color: white;
    
    font-size: 2em;
    width: 40px;
    padding: 5px;
    
}
div.campo >input{
    
    width: calc(100% - 45px);   
    font-size: 1em;
    height: 100%;
    border-radius: 8px;
    padding-left: 10px;
    transform: translateY(-13px);
    
}
form div.campo{
    background-color: #0D0D0D;
    border: 2px solid #0D0D0D ;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #593527;
    color: white;    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 25px;
}
form > input[type=submit]:hover{
    background-color: #A6653F;
      
}
form >a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    text-decoration: none;
    color: rgb(7, 6, 6);
    padding-top: 5px;
    padding-bottom: 25px;
}
form >a.botao:hover{
    background-color: #2A4A55;
    color: white;

}
form > a.botao > span{
    font-size: 0.8em;
}